@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel

<h1>Confirm Email Address</h1>
<div>
    <form method="post">
        <p>
            Confirm your email before proceeding!
            <br />
            If you haven't received any email please check your spam folder!
            <br />
        <p>
            <div class="col-6">
                <input type="submit" class="btn btn-info form-control" value="Re-send Authorization Email" />
            </div>
        </p>
    </form>
</div>